# Data
data/
config.yaml

# cached/accessory
.ipynb_checkpoints/
src/__pycache__
__pycache__
.streamlit
src/.streamlit

# unwated files
notes.txt
*pkl
*log
*jpg
*tif
*xml
tree_locations/
notebooks/Scratch.ipynb
Untitled*ipynb


# temp files
*swp
*pyc
*swo

# model directories
model_weights/
train_info/

# save example images
!static/*

